<% if @posts.any? %>

  <% @posts.each do |post| %>
    <div class="imageBorder">
        <%= image_tag post.image.url(:medium) %>
        <div class="bold">
          <%= post.description %>
        </div>
        <br>
        <% user = User.find(post.user_id) %>
        <%= "Posted by " + user.username %>
        <%= post.created_at.strftime('at %m/%d/%Y at %I:%M%p') %>
    </div>
    <% if user_signed_in? && current_user.id == post.user_id %>
      <%= link_to "Edit Foto", edit_post_path(post) %><br>
      <%= link_to "Delete Foto", post_path(post), method: :delete %>
    <% end %><br>
    <%= link_to "Add a Comment", new_post_comment_path(post) %>

    <br>
    <% comment = post.comments %>
      <% comment.each do |c| %>
        <% user = User.find(c.user_id) %>
        <%= user.username + " commented:" %>
        <%= c.comment %>
        <br>
        <%= c.created_at.strftime('%m/%d/%Y at %I:%M%p') %>
        <br>
        <% if user_signed_in? && current_user.id == c.user_id %>
          <%= link_to "Delete Comment", post_comment_path(post, c), method: :delete %>
        <% end %><br>

      <% end %>




  <% end %>

<% else %>
  <h3> No Fotos yet </h3>
<% end %>
